
@{
    ViewBag.Title = "AccesoGráficas";
}

<h2>AccesoGráficas</h2>

<div class="jumbotron">
    <h1>Acciones de Índice de Precios y Cotizaciones</h1>
    <p class="lead">Elige el ticker de la acción a consultar</p>

    <p>
        <a href="Gráfica" class="btn  btn-outline-primary">RA.MX &raquo;</a>
        <a href="KIMBERA" class="btn  btn-outline-primary">KIMBERA.MX &raquo;</a>

        <a href="ALPEKA" class="btn  btn-outline-primary">ALPEKA.MX &raquo;</a>
        <a href="TLEVISACPO" class="btn  btn-outline-primary">TLEVISACPO.MX &raquo;</a>
        <a href="CUERVO" class="btn  btn-outline-primary">CUERVO.MX &raquo;</a>
        <a href="PINFRA" class="btn  btn-outline-primary">PINFRA.MX &raquo;</a>
        <a href="Gráfica" class="btn  btn-outline-primary">BOLSAA.MX &raquo;</a>
    </p>
    <p>
        <a href="Gráfica" class="btn  btn-outline-primary">GRUMAB.MX &raquo;</a>
        <a href="Gráfica" class="btn  btn-outline-primary">AMXL.MX &raquo;</a>
        <a href="Gráfica" class="btn  btn-outline-primary">CEMEXCPO.MX &raquo;</a>
        <a href="Gráfica" class="btn  btn-outline-primary">GCARSOA1.MX &raquo;</a>
        <a href="Gráfica" class="btn  btn-outline-primary">GMEXICOB.MX &raquo;</a>
        <a href="Gráfica" class="btn  btn-outline-primary">AC.MX &raquo;</a>
        <a href="Gráfica" class="btn  btn-outline-primary">ASURB.MX &raquo;</a>

    </p>
    <p>
        <a href="Gráfica" class="btn  btn-outline-primary">MEGACPO.MX &raquo;</a>
        <a href="Gráfica" class="btn  btn-outline-primary">BSMXB.MX&raquo;</a>
        <a href="Gráfica" class="btn  btn-outline-primary">LABB.MX &raquo;</a>
        <a href="Gráfica" class="btn  btn-outline-primary">GENTERA.MX &raquo;</a>
        <a href="Gráfica" class="btn  btn-outline-primary">BIMBOA.MX &raquo;</a>
        <a href="Gráfica" class="btn  btn-outline-primary">GFNORTEO.MX &raquo;</a>
        <a href="Gráfica" class="btn  btn-outline-primary">GAPB.MX &raquo;</a>

    </p>
    <p>
        <a href="Gráfica" class="btn  btn-outline-primary">IENOVA.MX &raquo;</a>
        <a href="Gráfica" class="btn  btn-outline-primary">BBAJIOO.MX&raquo;</a>
        <a href="Gráfica" class="btn  btn-outline-primary">GCC.MX &raquo;</a>
        <a href="Gráfica" class="btn  btn-outline-primary">ALSEA.MX &raquo;</a>
        <a href="Gráfica" class="btn  btn-outline-primary">OMAB.MX &raquo;</a>
  
    </p>
</div>


<h2>AccesoGráficas</h2>

