@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Análisis Financiero</h1>
    <p class="lead">En esta áplicación entontrarás modelos cuantitativos y técnicos para el análisis de precios históricos de instrumentos financieros</p>
    <p><a href="Informacion" class="btn  btn-outline-primary">Lee más &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Registro</h2>
        <p>
            Regístrate para recibir contenido exclusivo.
        </p>
        <p><a class="btn btn-outline-info" href="Registro">Regístrate aquí&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Modelo de Medias Móviles</h2>
        <p>Aquí encontrarás modelo de medias móviles </p>
        <p><a class="btn btn-outline-info" href="AccesoGráficas">Acceso &raquo;</a></p>
        

    </div>
    <div class="col-md-4">
        <h2>Otros Modelos</h2>
        <p>De forma continua, se incluirán distintos modelos técnicos y cuantitativos para el análisis de precios de activos financieros</p>
        <p>
            <a class="btn btn-outline-info"
               href="OtrosModelos">Acceso &raquo;</a>
        </p>
    </div>

    
    </div>
</div>