
@{
    ViewBag.Title = "Informacion";
}

<h2>Informacion</h2>
<p>Esta aplicación fue diseñada con el fin de incluir herramientas para el anáisis del precio de instrumentos financieros
    de forma cualitativa y cuantitativa; por lo que, de forma constante, se incluirán nuevos modelos cuantitativos , así como
    herramientas de análisis técnico. </p>

