
@{
    ViewBag.Title = "KIMBERA";
}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<figure class="highcharts-figure">
    <div id="container"></div>
    <p class="highcharts-description">
        
    </p>
</figure>


<h2>KIMBERA</h2>

<script>
    Highcharts.chart('container', {

        title: {
            text: 'KIMBERA.MX 2020 '
        },

        subtitle: {
            text: 'Medias Móviles'
        },

        yAxis: {
            title: {
                text: 'Precio'
            }
        },

        xAxis: {
            categories: ['2020-01-02', '2020-01-03', '2020-01-06', '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10',
                '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16', '2020-01-17', '2020-01-20', '2020-01-21',
                '2020-01-22', '2020-01-23', '2020-01-24', '2020-01-27', '2020-01-28', '2020-01-29', '2020-01-30',
                '2020-01-31', '2020-02-04', '2020-02-05', '2020-02-06', '2020-02-07', '2020-02-10', '2020-02-11',
                '2020-02-12', '2020-02-13', '2020-02-14', '2020-02-17', '2020-02-18', '2020-02-19', '2020-02-20',
                '2020-02-21', '2020-02-24', '2020-02-25', '2020-02-26', '2020-02-27', '2020-02-28', '2020-03-02',
                '2020-03-03', '2020-03-04', '2020-03-05', '2020-03-06', '2020-03-09', '2020-03-10', '2020-03-11',
                '2020-03-12', '2020-03-13', '2020-03-17', '2020-03-18', '2020-03-19', '2020-03-20', '2020-03-23',
                '2020-03-24', '2020-03-25', '2020-03-26', '2020-03-27', '2020-03-30', '2020-03-31', '2020-04-01',
                '2020-04-02', '2020-04-03', '2020-04-06', '2020-04-07', '2020-04-08', '2020-04-13', '2020-04-14',
                '2020-04-15', '2020-04-16', '2020-04-17', '2020-04-20', '2020-04-21', '2020-04-22', '2020-04-23',
                '2020-04-24', '2020-04-27', '2020-04-28', '2020-04-29', '2020-04-30', '2020-05-04', '2020-05-05',
                '2020-05-06', '2020-05-07', '2020-05-08', '2020-05-11', '2020-05-12', '2020-05-13', '2020-05-14',
                '2020-05-15', '2020-05-18', '2020-05-19', '2020-05-20', '2020-05-21', '2020-05-22', '2020-05-25',
                '2020-05-26', '2020-05-27', '2020-05-28', '2020-05-29', '2020-06-01', '2020-06-02', '2020-06-03',
                '2020-06-04', '2020-06-05', '2020-06-08', '2020-06-09', '2020-06-10', '2020-06-11', '2020-06-12',
                '2020-06-15', '2020-06-16', '2020-06-17', '2020-06-18', '2020-06-19', '2020-06-22', '2020-06-23',
                '2020-06-24', '2020-06-25', '2020-06-26', '2020-06-29', '2020-06-30', '2020-07-01', '2020-07-02',
                '2020-07-03', '2020-07-06', '2020-07-07', '2020-07-08', '2020-07-09', '2020-07-10', '2020-07-13',
                '2020-07-14', '2020-07-15', '2020-07-16', '2020-07-17', '2020-07-20', '2020-07-21', '2020-07-22',
                '2020-07-23', '2020-07-24', '2020-07-27', '2020-07-28', '2020-07-29', '2020-07-30', '2020-07-31',
                '2020-08-03', '2020-08-04', '2020-08-05', '2020-08-06', '2020-08-07']
        },

        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },

        plotOptions: {
            series: {
                label: {
                    connectorAllowed: false
                },
                pointStart: 1
            }
        },

        series: [{
            name: 'Precio KIMBERA.MX',
            data: [109.910, 109.110, 109.345, 108.690, 110.460, 111.280, 107.660, 109.210, 110.880,
                109.160, 109.960, 112.610, 111.700, 111.800, 113.410, 110.770, 109.180, 107.250,
                107.040, 110.650, 108.790, 107.995, 110.745, 109.370, 107.120, 108.990, 109.185,
                112.820, 116.740, 119.230, 117.000, 116.110, 117.560, 116.970, 117.100, 114.950,
                114.140, 112.710, 110.690, 105.960, 109.430, 108.210, 108.190, 107.480, 103.850,
                101.460, 95.340, 96.450, 94.080, 88.210, 93.390, 78.720, 74.070, 64.420,
                54.250, 52.520, 54.170, 59.940, 64.740, 62.600, 61.880, 62.490, 55.760,
                57.210, 53.970, 56.880, 56.850, 54.830, 55.040, 54.770, 54.050, 56.650,
                58.970, 58.110, 55.130, 55.940, 54.850, 54.850, 55.210, 58.510, 61.250,
                59.070, 56.060, 57.720, 57.520, 57.470, 61.410, 62.080, 60.450, 57.770,
                56.010, 56.590, 59.000, 59.130, 59.730, 58.790, 59.760, 58.210, 59.450,
                61.800, 61.470, 61.580, 58.320, 61.080, 62.980, 66.140, 74.990, 78.000,
                75.100, 77.430, 68.570, 66.070, 70.190, 70.680, 69.720, 68.150, 68.710,
                66.990, 66.440, 64.520, 63.200, 61.140, 62.170, 61.840, 60.920, 59.830,
                59.860, 59.600, 61.480, 59.460, 59.290, 59.270, 56.960, 58.350, 60.610,
                60.450, 60.210, 59.220, 58.990, 60.040, 58.560, 60.090, 59.610, 57.040,
                56.800, 57.730, 57.600, 56.980, 57.110, 59.970, 57.600, 56.850]
        }, {
            name: 'Media Movil KIMBERA.MX',
            data: [null, null, null, null, null, null, null,
                null, null, null, 109.64132, 110.18108, 110.45725, 110.70138,
                111.19386, 111.11679, 110.76465, 110.12562, 109.56460, 109.76195, 109.58523,
                109.29610, 109.55953, 109.52507, 109.08779, 109.07001, 109.09092, 109.76893,
                111.03640, 112.52614, 113.33957, 113.84329, 114.51905, 114.96468, 115.35292,
                115.27966, 115.07245, 114.64291, 113.92420, 112.47616, 111.92232, 111.24735,
                110.69147, 110.10757, 108.96983, 107.60440, 105.37451, 103.75187, 101.99335,
                99.48729, 98.37869, 94.80438, 91.03449, 86.19549, 80.38722, 75.32046,
                71.47492, 69.37766, 68.53445, 67.45546, 66.44174, 65.72324, 63.91174,
                62.69324, 61.10720, 60.33862, 59.70432, 58.81808, 58.13116, 57.52004,
                56.88912, 56.84565, 57.23189, 57.39155, 56.98036, 56.79120, 56.43826,
                56.14948, 55.97867, 56.43891, 57.31365, 57.63299, 57.34699, 57.41481,
                57.43394, 57.44049, 58.16222, 58.87455, 59.16099, 58.90808, 58.38116,
                58.05549, 58.22722, 58.39136, 58.63475, 58.66298, 58.86244, 58.74381,
                58.87221, 59.40454, 59.78007, 60.10733, 59.78236, 60.01830, 60.55679,
                61.57192, 64.01157, 66.55492, 68.10857, 69.80338, 69.57913, 68.94110,
                69.16818, 69.44305, 69.49341, 69.24915, 69.15112, 68.75819, 68.33670,
                67.64276, 66.83498, 65.79953, 65.13962, 64.53969, 63.88156, 63.14491,
                62.54766, 62.01172, 61.91504, 61.46867, 61.07255, 60.74481, 60.05667,
                59.74636, 59.90339, 60.00277, 60.04045, 59.89128, 59.72741, 59.78424,
                59.56165, 59.65772, 59.64904, 59.17467, 58.74291, 58.55875, 58.38443,
                58.12908, 57.94379, 58.31219, 58.18270, 57.94039,]
        }, {

        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }

    });
</script>
<h2>KIMBERA</h2>