@{
    ViewBag.Title = "Otros Modelos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<ModelosCuantitativos>
    <br />
    <br />
    <p>En esta sección, se  agregarán de forma constante, nuevos modelos matemáticos de análisis del precio de instrumentos financieros</p>
    
</ModelosCuantitativos>

<AnálisisTecnico>
    <p>Además, se incluirán modelos basados en el comportamiento histórico geométrico y gráfico de activos financieros</p>   
   
</AnálisisTecnico>