
@{
    ViewBag.Title = "PINFRA";
}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<figure class="highcharts-figure">
    <div id="container"></div>
    <p class="highcharts-description">

    </p>
</figure>
<h2>PINFRA</h2>
<script>
    Highcharts.chart('container', {

        title: {
            text: 'ALPEKA.MX.MX 2020 '
        },

        subtitle: {
            text: 'Medias Móviles'
        },

        yAxis: {
            title: {
                text: 'Precio'
            }
        },

        xAxis: {
            categories: ['2020-01-02', '2020-01-03', '2020-01-06', '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10',
                '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16', '2020-01-17', '2020-01-20', '2020-01-21',
                '2020-01-22', '2020-01-23', '2020-01-24', '2020-01-27', '2020-01-28', '2020-01-29', '2020-01-30',
                '2020-01-31', '2020-02-04', '2020-02-05', '2020-02-06', '2020-02-07', '2020-02-10', '2020-02-11',
                '2020-02-12', '2020-02-13', '2020-02-14', '2020-02-17', '2020-02-18', '2020-02-19', '2020-02-20',
                '2020-02-21', '2020-02-24', '2020-02-25', '2020-02-26', '2020-02-27', '2020-02-28', '2020-03-02',
                '2020-03-03', '2020-03-04', '2020-03-05', '2020-03-06', '2020-03-09', '2020-03-10', '2020-03-11',
                '2020-03-12', '2020-03-13', '2020-03-17', '2020-03-18', '2020-03-19', '2020-03-20', '2020-03-23',
                '2020-03-24', '2020-03-25', '2020-03-26', '2020-03-27', '2020-03-30', '2020-03-31', '2020-04-01',
                '2020-04-02', '2020-04-03', '2020-04-06', '2020-04-07', '2020-04-08', '2020-04-13', '2020-04-14',
                '2020-04-15', '2020-04-16', '2020-04-17', '2020-04-20', '2020-04-21', '2020-04-22', '2020-04-23',
                '2020-04-24', '2020-04-27', '2020-04-28', '2020-04-29', '2020-04-30', '2020-05-04', '2020-05-05',
                '2020-05-06', '2020-05-07', '2020-05-08', '2020-05-11', '2020-05-12', '2020-05-13', '2020-05-14',
                '2020-05-15', '2020-05-18', '2020-05-19', '2020-05-20', '2020-05-21', '2020-05-22', '2020-05-25',
                '2020-05-26', '2020-05-27', '2020-05-28', '2020-05-29', '2020-06-01', '2020-06-02', '2020-06-03',
                '2020-06-04', '2020-06-05', '2020-06-08', '2020-06-09', '2020-06-10', '2020-06-11', '2020-06-12',
                '2020-06-15', '2020-06-16', '2020-06-17', '2020-06-18', '2020-06-19', '2020-06-22', '2020-06-23',
                '2020-06-24', '2020-06-25', '2020-06-26', '2020-06-29', '2020-06-30', '2020-07-01', '2020-07-02',
                '2020-07-03', '2020-07-06', '2020-07-07', '2020-07-08', '2020-07-09', '2020-07-10', '2020-07-13',
                '2020-07-14', '2020-07-15', '2020-07-16', '2020-07-17', '2020-07-20', '2020-07-21', '2020-07-22',
                '2020-07-23', '2020-07-24', '2020-07-27', '2020-07-28', '2020-07-29', '2020-07-30', '2020-07-31',
                '2020-08-03', '2020-08-04', '2020-08-05', '2020-08-06', '2020-08-07']
        },

        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },

        plotOptions: {
            series: {
                label: {
                    connectorAllowed: false
                },
                pointStart: 1
            }
        },

        series: [{
            name: 'Precio PINFRA.MX',
            data: [20.90363, 21.05316, 21.09801, 20.77404, 20.78401, 20.90862, 21.15284, 21.17278, 20.92357, 20.88369, 21.35221,
                21.51170, 21.51170, 21.82072, 21.69113, 21.37214, 21.32230, 19.19500, 18.71000, 18.32000, 17.66000, 17.73000,
                17.55500, 17.42000, 17.29000, 17.09000, 16.84000, 16.90000, 16.68000, 14.98000, 14.00000, 14.60000, 13.89000,
                14.17000, 14.15000, 14.61000, 14.54000, 14.17000, 14.22000, 13.90000, 13.32000, 13.68000, 13.10000, 13.45000,
                12.98000, 13.02000, 11.39000, 11.84000, 11.07000, 10.44000, 10.81000, 10.12000, 9.47000, 9.20000, 9.51000,
                8.89000, 8.89000, 9.14000, 8.91000, 8.50000, 8.14000, 8.45000, 8.79000, 9.84000, 9.42000, 9.77000,
                10.05000, 10.12000, 9.63000, 10.58000, 10.57000, 10.55000, 11.00000, 10.78000, 10.35000, 10.72000, 10.67000,
                10.49000, 10.94000, 11.05000, 11.42000, 11.46000, 11.76000, 11.64000, 11.95000, 12.04000, 12.21000, 12.52000,
                12.57000, 12.15000, 12.18000, 12.84000, 13.93000, 14.28000, 14.73000, 14.47000, 14.69000, 14.90000, 15.98000,
                15.66000, 15.47000, 15.51000, 15.49000, 15.54000, 15.99000, 15.81000, 15.92000, 16.40000, 16.13000, 16.44000,
                15.73000, 16.53000, 16.59000, 16.66000, 16.92000, 16.87000, 17.10000, 16.81000, 16.79000, 16.99000, 17.15000,
                17.03000, 17.16000, 17.49000, 17.49000, 17.51000, 17.53000, 17.50000, 17.59000, 17.64000, 17.63000, 17.67000,
                17.59000, 16.97000, 17.71000, 17.61000, 18.09000, 17.96000, 17.95000, 18.03000, 18.06000, 18.13000, 18.16000,
                17.97000, 17.83000, 17.56000, 17.51000, 17.44000, 18.09000, 18.49000, 18.27000, 17.81000]
        }, {
            name: 'Media Movil PINFRA.MX',
            data: [null, null, null, null, null, null, null,
                null, null, null, 20.965434, 21.035756, 21.122291, 21.193093, 21.307206, 21.377011, 21.376126, 21.366339, 20.971550, 20.560359, 20.153021,
                19.699744, 19.341609, 19.016771, 18.726449, 18.465277, 18.215226, 17.965185, 17.771515, 17.573058, 17.101593,
                16.537667, 16.185364, 15.768025, 15.477475, 15.236116, 15.122277, 15.016408, 14.862516, 14.745695, 14.591932,
                14.360672, 14.236913, 14.030202, 13.924710, 13.752945, 13.619682, 13.214285, 12.964415, 12.619976, 12.223617,
                11.966596, 11.630851, 11.237969, 10.867429, 10.620624, 10.305965, 10.048517, 9.883332, 9.706362, 9.487024,
                9.242110, 9.098090, 9.042074, 9.187151, 9.229488, 9.327763, 9.459078, 9.579246, 9.588474, 9.768751,
                9.914433, 10.029991, 10.206356, 10.310655, 10.317809, 10.390934, 10.441673, 10.450460, 10.539467, 10.632291,
                10.775511, 10.899964, 11.056334, 11.162455, 11.305645, 11.439164, 11.579316, 11.750350, 11.899377, 11.944945,
                11.987682, 12.142649, 12.467622, 12.797145, 13.148573, 13.388833, 13.625409, 13.857152, 14.243125, 14.500738,
                14.676968, 14.828428, 14.948714, 15.056221, 15.225999, 15.332181, 15.439057, 15.613774, 15.707633, 15.840791,
                15.820647, 15.949620, 16.066053, 16.174043, 16.309672, 16.411550, 16.536723, 16.586409, 16.623426, 16.690076,
                16.773698, 16.820299, 16.882063, 16.992597, 17.083034, 17.160664, 17.227816, 17.277304, 17.334158, 17.389765,
                17.433444, 17.476454, 17.497099, 17.401263, 17.457397, 17.485143, 17.595117, 17.661459, 17.713921, 17.771390,
                17.823865, 17.879525, 17.930521, 17.937699, 17.918117, 17.853005, 17.790640, 17.726888, 17.792908, 17.919652,
                17.983352, 17.951833]
        }, {

        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }

    });
</script>

<h2></h2>



