
@{
    ViewBag.Title = "Registro";

}

    <form action="/Home/Registro" method="post">
        <input type="type" name="email" value="" />
    
        <p><a class="btn btn-outline-info" href="hasregistrado">Enviar &raquo;</a></p>


    </form>

          

<h2>Registro</h2>
