
@{
    ViewBag.Title = "TLEVISACPO";
}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<figure class="highcharts-figure">
    <div id="container"></div>
    <p class="highcharts-description">

    </p>
</figure>


<h2></h2>

<script>
    Highcharts.chart('container', {

        title: {
            text: 'TLEVISA.MX 2020 '
        },

        subtitle: {
            text: 'Medias Móviles'
        },

        yAxis: {
            title: {
                text: 'Precio'
            }
        },

        xAxis: {
            categories: ['2020-01-02', '2020-01-03', '2020-01-06', '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10',
                '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16', '2020-01-17', '2020-01-20', '2020-01-21',
                '2020-01-22', '2020-01-23', '2020-01-24', '2020-01-27', '2020-01-28', '2020-01-29', '2020-01-30',
                '2020-01-31', '2020-02-04', '2020-02-05', '2020-02-06', '2020-02-07', '2020-02-10', '2020-02-11',
                '2020-02-12', '2020-02-13', '2020-02-14', '2020-02-17', '2020-02-18', '2020-02-19', '2020-02-20',
                '2020-02-21', '2020-02-24', '2020-02-25', '2020-02-26', '2020-02-27', '2020-02-28', '2020-03-02',
                '2020-03-03', '2020-03-04', '2020-03-05', '2020-03-06', '2020-03-09', '2020-03-10', '2020-03-11',
                '2020-03-12', '2020-03-13', '2020-03-17', '2020-03-18', '2020-03-19', '2020-03-20', '2020-03-23',
                '2020-03-24', '2020-03-25', '2020-03-26', '2020-03-27', '2020-03-30', '2020-03-31', '2020-04-01',
                '2020-04-02', '2020-04-03', '2020-04-06', '2020-04-07', '2020-04-08', '2020-04-13', '2020-04-14',
                '2020-04-15', '2020-04-16', '2020-04-17', '2020-04-20', '2020-04-21', '2020-04-22', '2020-04-23',
                '2020-04-24', '2020-04-27', '2020-04-28', '2020-04-29', '2020-04-30', '2020-05-04', '2020-05-05',
                '2020-05-06', '2020-05-07', '2020-05-08', '2020-05-11', '2020-05-12', '2020-05-13', '2020-05-14',
                '2020-05-15', '2020-05-18', '2020-05-19', '2020-05-20', '2020-05-21', '2020-05-22', '2020-05-25',
                '2020-05-26', '2020-05-27', '2020-05-28', '2020-05-29', '2020-06-01', '2020-06-02', '2020-06-03',
                '2020-06-04', '2020-06-05', '2020-06-08', '2020-06-09', '2020-06-10', '2020-06-11', '2020-06-12',
                '2020-06-15', '2020-06-16', '2020-06-17', '2020-06-18', '2020-06-19', '2020-06-22', '2020-06-23',
                '2020-06-24', '2020-06-25', '2020-06-26', '2020-06-29', '2020-06-30', '2020-07-01', '2020-07-02',
                '2020-07-03', '2020-07-06', '2020-07-07', '2020-07-08', '2020-07-09', '2020-07-10', '2020-07-13',
                '2020-07-14', '2020-07-15', '2020-07-16', '2020-07-17', '2020-07-20', '2020-07-21', '2020-07-22',
                '2020-07-23', '2020-07-24', '2020-07-27', '2020-07-28', '2020-07-29', '2020-07-30', '2020-07-31',
                '2020-08-03', '2020-08-04', '2020-08-05', '2020-08-06', '2020-08-07']
        },

        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },

        plotOptions: {
            series: {
                label: {
                    connectorAllowed: false
                },
                pointStart: 1
            }
        },

        series: [{
            name: 'Precio TLEVISA.MX',
            data: [45.130, 45.230 ,44.465, 43.590, 44.070 ,43.690, 43.740 ,43.870, 45.200 ,44.860 ,46.440, 46.520, 46.850 ,45.250,
             46.310, 46.460, 45.310, 44.405, 44.970, 44.520, 42.200, 41.965, 42.320, 40.950 ,40.370, 40.030, 39.905, 41.440,
               42.400, 41.570, 41.640, 41.230, 41.730, 42.520, 42.840, 43.050, 42.740, 39.920, 39.610, 38.280, 36.830, 36.100,
               35.790, 37.540, 35.750, 34.230 ,31.100, 32.340, 31.550, 27.150, 28.230, 28.660, 27.450, 27.360, 26.930 ,25.270,
               29.480, 29.180 ,29.210, 25.620, 26.420, 27.300, 26.020 ,25.210 ,24.100, 25.920, 25.800, 25.440, 26.130 ,27.760,
                 26.150, 26.130, 27.030, 27.030 ,25.460, 24.740, 25.020, 25.080, 25.530, 25.770, 26.530, 25.610, 24.180, 23.770,
               23.280, 23.280, 24.600 ,25.080, 26.100 ,24.480, 23.430 ,23.100 ,26.250, 25.140 ,25.290, 24.900 ,24.940, 24.820,
               23.450, 25.950, 25.960, 26.270, 27.170 ,27.200, 28.930, 28.210, 30.010, 31.650, 29.270 ,27.490 ,25.440, 26.260,
               26.240, 26.940, 25.640, 25.160, 26.140, 25.680, 25.400, 25.080, 24.300, 23.770, 24.370, 24.130, 24.010, 24.150,
               24.090, 23.940, 23.520, 25.330, 24.180, 24.170, 23.450, 23.290, 23.810, 23.590, 23.630, 23.210, 25.090, 24.680,
                24.320, 23.650, 24.280, 24.010, 25.360, 25.250, 24.900, 25.580, 28.420, 29.240, 29.460 ,30.340 ]
        }, {
            name: 'Media Movil TLEVISA.MX',
            data: [null, null, null, null, null, null, null,
                null, null, null, 44.38450 ,44.7582, 45.07855, 45.40063, 45.37324, 45.54356 ,45.71019 ,45.63743 ,45.41335, 45.33274 ,45.18497, 44.64225, 44.15548,
                 43.82175, 43.29962 ,42.76696 ,42.26933, 41.83945, 41.76682, 41.88195, 41.82523, 41.79155, 41.68945, 41.69682,
                 41.84649, 42.02713, 42.21311, 42.30891 ,41.87456 ,41.46282 ,40.88413, 40.14701, 39.41119 ,38.75279, 38.53229,
                38.02642, 37.33616, 36.20231, 35.50007, 34.78188, 33.39426 ,32.45531, 31.76525, 30.98066, 30.32236, 29.70557,
                 28.89910, 29.00472, 29.03659 ,29.06812, 28.44119, 28.07370, 27.93303, 27.58520, 27.15335, 26.59819, 26.47489,
                26.35218, 26.18633, 26.17609 ,26.46407, 26.40697 ,26.35661, 26.47904 ,26.57922 ,26.37572, 26.07832, 25.88590,
                 25.73937, 25.70130, 25.71379, 25.86220 ,25.81634, 25.51883, 25.20086, 24.85161, 24.56586, 24.57207 ,24.66442,
                24.92544, 24.84445, 24.58727 ,24.31686, 24.66834, 24.75410, 24.85153, 24.86035 ,24.87483, 24.86486 ,24.60761,
                 24.85168, 25.05320, 25.27443, 25.61908, 25.90652, 26.45624, 26.77511, 27.36327, 28.14268, 28.34764, 28.19171,
                 27.69140, 27.43114 ,27.21457, 27.16465, 26.88744, 26.57336, 26.49457, 26.34646, 26.17438, 25.97540, 25.67078,
                 25.32519, 25.15152, 24.96579 ,24.79201 ,24.67528, 24.56886, 24.45453, 24.28461, 24.47468, 24.42110, 24.37545,
                 24.20719, 24.04042 ,23.99853, 23.92425, 23.87075, 23.75061, 23.99414, 24.11884, 24.15542, 24.06352, 24.10288,
                24.08599, 24.31763, 24.48715, 24.56222, 24.74727, 25.41504 ,26.11049, 26.71949 ,27.37776]
        }, {

        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }

    });
</script>
<h2>TLEVISACPO</h2>

